<!DOCTYPE html>
<html lang="<TMPL_VAR NAME=LANG>">
    <head>
        <meta charset="<TMPL_VAR NAME=CHARSET>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><TMPL_VAR NAME=TITLE></title>
    </head>
    <body>
        <main>
