<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>一覧</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/workers.css" rel="stylesheet">
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/js/workers.js"></script>
    </head>
    <body>
        <main>
            <h1 class="h1">ID: <TMPL_VAR NAME="AFFILIATION"></h1>
            <TMPL_LOOP NAME="ERRORS">
                <p><strong><TMPL_VAR NAME="MESSAGE"></strong></p>
            </TMPL_LOOP>
            <button id="reflect" type="button">反映</button>
            <button id="return" type="button">戻る</button>
            <button id="add" type="button">追加</button>
            <button id="update" type="button">変更</button>
            <button id="delete" type="button">削除</button>
            <form id="form" method="post">
                <input id="rm" name="rm" type="hidden">
                <table>
                    <colgroup>
                        <col class="name">
                        <col class="kana">
                        <col class="phone">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="name">名前</th>
                            <th class="kana">カナ</th>
                            <th class="phone">電話</th>
                        </tr>
                    </thead>
                    <tbody>
                        <TMPL_LOOP NAME="WORKERS">
                            <tr id="<TMPL_VAR NAME=NUMBER>">
                                <td class="name">
                                    <label>
                                        <input name="check" type="radio" value="<TMPL_VAR NAME=NUMBER>">
                                        <TMPL_VAR NAME="NAME">
                                    </label>
                                </td>
                                <td class="kana"><TMPL_VAR NAME="KATAKANA"></td>
                                <td class="phone"><TMPL_VAR NAME="PHONE"></td>
                            </tr>
                        </TMPL_LOOP>
                    </tbody>
                </table>
            </form>
        </main>
    </body>
</html>
